* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 50px auto;
  max-width: 80vw;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.anime {
  margin: 5px;
  width: 230px;
  display: block;
  text-align: center;
}

.animeCard {
  text-decoration: none;
  color: brown;
  border-radius: 10px;
  transition: 0.3s;
  background-color: #ffff;
  padding: 10px;
}

.animeCard:hover {
  box-shadow: 0 0 21px rgba(33, 33, 33, 0.2);
}

/* .titleAnime {

} */

.score {
  color: #ffff;
  background-color: #cd003e;
  font-weight: bolder;
  padding: 2px;
  width: 30%;
  float: right;
  margin-right: 7px;
  text-align: center;
}

